html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: max-content;
  cursor: pointer;
}

.logoContainer a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.logoContainer img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.logoContainer h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Arial", sans-serif;
  padding-left: 1rem;
}

header h1 {
  margin: 0;
}

.cart-info {
  font-size: 1rem;
}

main {
  padding: 1rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  margin-bottom: 3rem;
}

.product {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-bottom: 1rem;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: scale-down;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.product h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.product p {
  font-size: 0.9rem;
  color: #555;
}

.product .price {
  font-weight: bold;
  margin: 0.5rem 0;
}

.product button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: auto;
}

.product button:hover {
  background-color: #218838;
}

#view-cart {
  display: flex;
  align-items: center;
  background-color: rgba(248, 248, 248, 0.7);
  padding: 8px 12px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  border: none;
}

#view-cart:hover {
  background-color: rgba(248, 248, 248, 0.9);
}

#view-cart svg {
  fill: #18cef6;
  width: 50px;
  height: 40px;
  margin-right: 10px;
}

#view-cart span {
  color: #333;
}

#cart-count {
  font-weight: bold;
  color: #fff;
  background-color: red;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
}

.cart {
  margin-top: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  margin-top: 2rem;
  flex-shrink: 0;
}

/* __________________________ Cart Page ________________________ */
.cart-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.cart.hidden {
  display: none;
}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cart-items {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  background-color: white;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item img {
  max-width: 50px;
  height: auto;
  border-radius: 5px;
}

.cart-item-details {
  flex: 1;
  margin-left: 1rem;
}

.cart-item-details h4 {
  margin: 0;
  font-size: 1rem;
}

.cart-item-details p {
  color: #555;
  margin: 0.1rem 0;
}

.cart-item-details input[type="number"] {
  width: 150px; 
  font-size: 1rem; 
  padding: 1rem; 
  margin-left: 0.5rem; 
}

.cart-summary {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

#clear-cart {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 1rem;
}

#clear-cart:hover {
  background-color: #c82333;
}

#checkout {
  background-color: #2596be;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#checkout:hover {
  background-color: #097ca6;
}

/* __________________________ Check out Page________________________ */

.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;

  margin-top: 50px;
  margin-bottom: 80px;

  position: relative;
  width: 48vw;
  height: auto;

  border-radius: 16px;
  background-color: white;

  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px #1b1b1b;
  border-radius: 8px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#exit {
  align-self: flex-end;
}

h1 {
  margin-left: 10px;
  font-size: 3rem;
  font-weight: 600;
}

h4 {
  margin-left: 6px;
  font-size: 2rem;
  font-weight: 600;
}

label {
  font-weight: 600;
}

input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px;
  padding: 16px 24px;
  width: 90%;
  height: 15%;
  left: 1048px;
  top: 16px;
  background: #ffffff;
  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s;
}

textarea:focus,
input:focus {
  outline: none;
  background: #f9e450;
  border: 3px solid #1b1b1b;
  border-radius: 16px;
}

.exp-cvc {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.expiration {
  font-size: 0.75rem;
  width: 50%;
  margin-right: 20px;
}

.security {
  font-size: 0.75rem;
  width: 50%;
  margin-left: 20px;
}

span {
  padding-left: 5px;
  cursor: pointer;
}

.btn {
  background-color: #f9e450;
  border: 2px solid #1b1b1b;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px 32px;
  text-align: center;
  font-weight: 800;
  margin-top: 20px;

  width: auto;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.16s ease-out;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background: #ffbb38;
  border: 4px solid #1b1b1b;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px #c1bffa;
  border-radius: 16px;
}

#exit {
  cursor: pointer;
}

.cart-summary {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #1b1b1b;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-summary h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.cart-summary ul {
  list-style-type: none;
  padding: 0;
}

.cart-summary .cart-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.cart-summary .cart-item:last-child {
  border-bottom: none;
}

.cart-summary .total {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
}

/* __________________________ Responsive Styles __________________________ */
@media (max-width: 1199px) {
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
  }

  .container {
    width: 60vw;
  }
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .logoContainer h1 {
    font-size: 1.2rem;
  }

  .product-list {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  header {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .logoContainer img {
    width: 25px;
    height: 25px;
  }

  .btn {
    width: 100%;
    padding: 10px;
  }

  .cart-summary {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}
